extends ../includes/layout

block main-content
    //add header
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") My First MEAN program
                    h6 -Extreme Tech Training
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                div(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)

    footer.con.text-center
        p &copy; 2015 Hannah Nguyen Corp International Ltd.